html, body {
  height: 100%;
 }

#map {
  height: 100%;
 }

.container-custom {
  height: 100%;
}

.map-height {
  height: 85%;
}

.nav-height {
  height: 15%;
}

.padding-custom {
  padding-left: 0;
  padding-right: 0;
}
